In [2]:
#Lets me look up for elments faster

In [3]:
#Useful if data is sorted

In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]
0 in my_list

False

In [5]:
my_dict = {"name": "Victor",
            "age": 24, 
            "city": "Sitges"}
print(my_dict)

{'name': 'Victor', 'age': 24, 'city': 'Sitges'}

In [6]:
my_dict["name"]

'Victor'

In [8]:
my_dict["new key"] = "new_value"

print(my_dict)

{'name': 'Victor', 'age': 24, 'city': 'Sitges', 'new key': 'new_value'}

In [9]:
del my_dict["new key"] 

print(my_dict)

{'name': 'Victor', 'age': 24, 'city': 'Sitges'}

In [10]:
"name" in my_dict

True

In [11]:
"paris" in my_dict

False

In [12]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [13]:
my_dict.values()

dict_values(['Victor', 24, 'Sitges'])

In [14]:
my_dict.items()

dict_items([('name', 'Victor'), ('age', 24), ('city', 'Sitges')])

In [15]:
my_dict = {"name": ["Victor", "Ana", "Txell"],
            "age": [24, 27,26], 
            "city": ["Sitges", "Fuengirola", "Barcelona"]
            }
print(my_dict)

{'name': ['Victor', 'Ana', 'Txell'], 'age': [24, 27, 26], 'city': ['Sitges', 'Fuengirola', 'Barcelona']}

In [ ]:
"""Sets: Unordered mutable collections. Useful for storing operations, math operations, where each vaÂ¡lue is unique"""

In [16]:
my_set = {1,2,3,4,5,6,7,}
type(my_set)

set

In [17]:
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
my_set.remove(7)
my_set

{1, 2, 3, 4, 5, 6, 8}

In [19]:
6 in my_set

True

In [22]:
set1 = {1,3,4,5,7}
set2 = {2,4,6,7,8,}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
set1.intersection(set2)

{4, 7}

In [24]:
set1.difference(set2)

{1, 3, 5}

In [25]:
set2.difference(set1)

{2, 6, 8}

In [26]:
set1.issubset(set2)

False

In [27]:
{2,4}.issubset(set2)

True

In [28]:
my_list = [1,2,2,3,3,4,4,4,5,5,6,6,7]
list(set(my_list))

{1, 2, 3, 4, 5, 6, 7}

In [29]:
my_list

[1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 6, 6, 7]