In [179]:
#Tuples

In [180]:
#Short collections of inmutable data (latitude, longitude) we use()

In [181]:
my_list = [2,3,1,4]
another_tuple = tuple(my_list)
another_tuple

(2, 3, 1, 4)

In [182]:
another_tuple[2]

1

In [183]:
another_tuple[2:4]

(1, 4)

apppnd and adding or removing values to tuples ins n0ot available.

Strings

In [184]:
my_string = "hello world"
my_string[3]

'l'

In [185]:
my_string[::-1]

'dlrow olleh'

In [186]:
len(my_string)

11

In [187]:
my_string.count("l")

3

In [188]:
my_string.lower()

'hello world'

In [189]:
print(my_string)

hello world

In [190]:
my_string.title()

'Hello World'

In [191]:
my_string.find("W")

-1

In [192]:
my_string.replace("world", "friends")

'hello friends'

In [193]:
my_string.split()

['hello', 'world']

In [194]:
my_string.split("_")

['hello world']

In [195]:
multiline_string = """ I am 
a multiline 
string!"""
multiline_string.splitlines()

[' I am ', 'a multiline ', 'string!']

In [196]:
Strip_ftr ="       adsd"
Strip_ftr.strip()

'adsd'

In [197]:
Strip_ftr ="ffffffHeyfffff"
Strip_ftr.strip("f")

'Hey'

In [198]:
"".join(["Hey! ", "Hola! ", "Ciao!"])

'Hey! Hola! Ciao!'

In [199]:
name = "Victor"
city = "Barcelona"
age = 24

In [200]:
template_string = "My name is {}, I live in {}, and I am {}"
template_string.format(name, city, age)

'My name is Victor, I live in Barcelona, and I am 24'

In [201]:
f"My name is {name}, I am {age}, and I live in {city}"

'My name is Victor, I am 24, and I live in Barcelona'